body {
    color: #353432;
    font: 16px 'PT Sans';
    background: transparent url(../img/back.jpg);
    margin: 0;

}

#wrapper {
  min-width: 300px;
  max-width: 520px;
  min-height: 100vh;
  margin: auto;
  padding: 5px;
  text-align: center;
  position: relative;
  z-index: 4;
}

header {
  margin-top: 5%;
  margin-bottom: 10px;
    }

header a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #c2babb;
}

a:hover {
    text-decoration: underline;
    color: #c2babb;
}

img {
    box-shadow: 0 0 10px rgba(0,0,0,1);
    text-decoration: none;
    margin: 3px;
    width: 100%;
    text-align: center;
    background: #000000;
    min-width: 300px;
    max-width: 520px;
}

a img:hover {
    box-shadow: 0 0 15px rgba(0,0,0,1);
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-color: none;
}

p {
  display: block;
  text-align: center;
  color: #c2babb;
}

.textabout {
  background: transparent url(../img/about_back.png);
  background-repeat: no-repeat;
  font-family: 'GNUTypewriterStandard';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.errormessage {
  background: transparent url(../img/about_back.png);
  background-repeat: no-repeat;
  font-family: 'GNUTypewriterStandard';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
}
