body {
    color: #353432;
    font: 16px 'PT Sans';
    background: transparent url(../img/back.jpg);
    margin: 0;

}

#wrapper {
  min-width: 300px;
  max-width: 500px;
  min-height: 100%;
  margin: auto;
}

header {
  margin-top: 5%;
  margin-bottom: 10px;
    }

header a {
    text-decoration: none;
}

img {
    box-shadow: 0 0 10px rgba(0,0,0,1);
    text-decoration: none;
    margin: 3px;
    width: 100%;
    text-align: center;
    background: #000000;
}

a img:hover {
    box-shadow: 0 0 15px rgba(0,0,0,1);
    opacity: 0.9;
    cursor: pointer;
}
